@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body {
    font-family: "Merriweather", 'Times New Roman', Times, serif;
    font-weight: 300;
    font-style: normal;
    align-items: center;

}

/* banner desine */
.bann {

    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    border-radius: 16px;
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/Banner\ Image.png);
    color: white;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.ha {
    font-size: 32px;
    font-weight: 400;
    line-height: 40px;
}

.hb {
    font-size: 72px;
    font-weight: 900px;
    line-height: 95px;
    padding-top: 233px 344px 233px 344px;
}

/* second bann start */

.sec-bann {
    width: 806px;
    height: 806px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    margin-top: 150px;
}

/* third bann starts */

.trd-bann {
    width: 1300px;
    height: 600px;
    color: white;
    border-radius: 16px;
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url(../images/Vectorrr.png);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

/* forth bann starts */
.frt-bann {
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

#t-p {
    font-family: 'Arial Rounded MT Bold', 'Trebuchet MS', sans-serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 56px;
    margin-top: 100px;
    text-align: center;
    text-transform: capitalize;
}

.frt-bann #t-p span {
    color: red;
}

/* fft-bann starts */
.fft-bann {
    width: 1320px;
    height: 463px;
    display: flex;
    justify-content: center;
    gap: 70px;
    margin: 0 auto;
    margin-top: 100px;
    padding-top: 100px;
}

.fft-bann1 {
    margin-top: 80px;
    height: 128px;
    width: 393px;
}

.fft-bann2 {
    margin-top: 80px;
    height: 96px;
    margin-right: 0;
}

/* sxt-bann starts */
.sxt-bann {
    width: 1320px;
    height: 986.07px;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
    background-image: url(../images/Group\ 44.png), url(../images/Group\ 75.png), url(../images/Rectangle\ 2.png);
    background-repeat: no-repeat;
    background-position: center right, bottom left, bottom;
}

/* svt-bann starts */
.svt-bann {
    width: 1320px;
    height: 1163px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 100px;

}

.si {
    width: 424px;
    height: 424px;
}

.sxt-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;

}

/* eit-ban starts */
.eit-bann {
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background-color: rgba(255, 0, 0, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

/* ..........sud-btn......... */
.subbtn {
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
}

.eit-btn {
    border: none;
    width: 210px;
    height: 72px;
    color: rgb(255, 255, 255);
    background-color: red;
    border-radius: 0 50px 50px 0;
    font-size: 20px;
}

.sub {
    border: none;
    width: 438px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    text-align: center;
    font-size: 20px;
    color: rgb(164, 164, 164);
}


/* footer starts */
.footer {
    max-width: 1600px;
    max-height: 500px;
    background-color: rgb(7, 2, 17);
    padding: 300px;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}